.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; 
}

.signup-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; 
  transition: transform 0.2s; 
}

.signup-card:hover {
  transform: scale(1.02); 
}

.form-control-custom {
  border: 1px solid #ddd; 
  border-radius: 8px; 
}

.btn-custom {
  background-color: #4b2e2e; 
  color: white; 
  border-radius: 8px; 
}

.btn-custom:hover {
  background-color: #6e4c4c; /* Darker shade on hover */
}

.signup-link {
  color: #4b2e2e; 
  cursor: pointer;
  text-decoration: underline;
}

*{
  color: #4b2e2e;
}

