
          .beans {
            font-size: 40px;
            margin: 10px;
            margin-bottom: 20px;
          }
          .admin-login-container {
            min-height: 100vh;
            background: #f9f9f9;
          }
          .admin-login-container h2 {
            font-family: 'Poppins', sans-serif;
          }
        
