.custom-navbar {
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    margin-left: 1rem;
    font-weight: bold;
}

.username {
    margin-right: 1rem;
}

.logout {
    cursor: pointer;
    margin-right: 1rem;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.carticon,
.search-icon {
    cursor: pointer;
    margin-left: 1rem;
}
